<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Downloader</title>
    <link rel="stylesheet" href="static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

</head>
<body>

    <div class="submit-area">
        <p id="title">Enter a YouTube URL</p>
        <input id="textbox" placeholder="https://www.youtube.com/..."></input>
        <button id="button" onclick="buttonClick()">Download</button>
    </div>

    <script src="static/javascript.js"></script>
</body>
</html>
